*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position:relative;
}

.plan{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#160830, #8360c3);
    border-radius: 10px;
    backdrop-filter:blur(10px);
 /*   background-image: url(pen.JPG);*/
    background-size: cover;
    justify-content:center;
    align-items: center;
    position:fixed;
    display: flex;
}

.pho{
    width: 80px;
    height: 12%;;
    border-radius:100%;
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    border: 1px solid white;
    box-shadow: 10PX 10PX 45PX rgba(0, 0, 0, 0.342);
    background-image: url();
    background-size: cover;
    justify-content:center;
    align-items: center;
    position:relative;
    display: flex;
     top: 5px;
     z-index: 20;
}

.img{
      width: 100%;
    height: 100%;;
    border-radius:100%;
    justify-content:center;
    align-items: center;
    position:relative;
    display: flexbox;
}


.logbox{
    width: 260px;
    height:500px;
    opacity: 1;
    border-radius: 20px;
    backdrop-filter:blur(100px);
    background: rgba(252, 250, 250, 0.144);
    background-image: url();
    background-size: cover;
    justify-content:center;
    align-items: center;
    display: flex;
    box-shadow: 6px 6px 25px rgba(5, 5, 5, 0.164);
}


.txt{
    top:-5%;
    color:rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.144);
}

p{
    top: 35%;
    color:rgb(255, 255, 255);
    font-size: 1em;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.219);
    z-index: 20;
}


label {
    display: block;
    margin-top: 15px;
    font-weight:bold ;
}
label:hover{
    transform: translateX(5px);
}

input{
    backdrop-filter:blur(10px);
    border-radius:15px;
    background-color: #0000000a;
    padding: 10px 35px;
    border: 1px solid rgb(255, 252, 252);
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 6px 6px 25px rgba(255, 254, 254, 0.164);
}
input:hover{
    box-shadow: 6px 6px 25px rgb(255, 254, 254);
}

input[type="submit"] {
    backdrop-filter:blur(10 px);
    border-radius:15px;
    background-color: #160830;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}
input[type="submit"]:hover{
    color:black;
}

    select{
        margin-top: 3px;
       width: 35%;
       border-radius:15px;
        background-color: #53535331;
        border: 1px solid rgb(255, 252, 252);
    }